<a href="https://colab.research.google.com/github/AKN-GH/Git-Projects/blob/main/Practics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Практическое занятие № 1 от 31.10.2025**

**Задание 1**

In [ ]:
print ('Hello World')

Hello World

**Задание 2**

In [ ]:
print ('4','8','15','16','23','42' )

4 8 15 16 23 42

**Задание 3**

In [ ]:
print ('*','*' * 2,'*' * 3,'*' * 4,'*' * 5,'*' * 6,'*' * 7,sep='\n')

*
**
***
****
*****
******
*******


**Задание 4**

In [ ]:
print ('Отчёт о доходах:', '1 квартал: 1200000 руб.','2 квартал: 1350000 руб.','3 квартал: 1280000 руб.','4 квартал: 1420000 руб.', sep='\n')

Отчёт о доходах:
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

**Задание 5**

In [ ]:
analytics_name = input('Введите имя аналитика:')
print (f'Добро пожаловать в команду, {analytics_name}!')

Введите имя аналитика:Влад
Добро пожаловать в команду, Влад!

**Задание 6**

In [ ]:
company_name = input ('Введите название компании:')
print (f'{company_name} - лидер рынка!' )

Введите название компании:Сбер
Сбер - лидер рынка!

**Задание 7**

In [ ]:
dataset_name = input('Введите название набора данных:')
raw_count = input('Введите количество строк:')
number_of_colums = input('Введите число столбцов:')
print (dataset_name, raw_count, number_of_colums, sep='\n')

Введите название набора данных:Sales Q1
Введите количество строк:1000
Введите число столбцов:8
Sales Q1
1000
8

**Задание 8**

In [ ]:
list_1 = input()
list_2 = input()
list_3 = input()
print (list_3, list_2, list_1, sep='\n')

Продажи за январь
Продажи за февраль
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

**Задание 9**

In [ ]:
base_price = float(input('Введите базовую цену:'))
grows_percent = float(input('Введите процент прироста цены:'))
new_price = base_price*(1+grows_percent/100)
delta = new_price-base_price
print ('new_price =',new_price)
print ('delta =',delta)

Введите базовую цену:100
Введите процент прироста цены:20
new_price = 120.0
delta = 20.0

**Задание 10**

In [ ]:
print ('Северный', 'Центральный', 'Южный', sep='***')

Северный***Центральный***Южный

**Задание 11**

In [ ]:
analytics_name = input('Введите имя аналитика:')
print ("Подключение установлено. Добро пожаловать,", analytics_name, end='!')

Введите имя аналитика:Влад
Подключение установлено. Добро пожаловать, Влад!

**Задание 12**

In [ ]:
symbol_s = input('Введите разделитель символ-разделитель:')
product_1 = input('Введите название Товара 1:')
product_2 = input('Введите название Товара 2:')
product_3 = input('Введите название Товара 3:')
print (product_1, end=symbol_s)
print (product_2, end=symbol_s)
print (product_3, end=symbol_s)

Введите разделитель символ-разделитель:|
Введите название Товара 1:Молоко
Введите название Товара 2:Хлеб
Введите название Товара 3:Сыр
Молоко|Хлеб|Сыр|

**Задание 13**

In [ ]:
value_str = float(input('Введите значение:'))
value_str = int(value_str)
print (f'integer_part = {value_str}')

Введите значение:42.7
integer_part = 42

**Задание 14**

In [ ]:
orders_yesterday = int(input('Введите количество заказов предыдущего дня:'))
plan = int(input('Введите плановый показатель:'))
abs_diff = abs(orders_yesterday-plan)
print (f'Абсолютное отклонение от плана равняется {abs_diff}')

Введите количество заказов предыдущего дня:10
Введите плановый показатель:20
Абсолютное отклонение от плана равняется 10

**Задание 15**

In [ ]:
dig_1 = int(input('Введите целое число #1:'))
dig_2 = int(input('Введите целое число #2:'))
dig_3 = int(input('Введите целое число #3:'))
dig_4 = int(input('Введите целое число #4:'))
dig_5 = int(input('Введите целое число #5:'))
digitsline = [dig_1, dig_2, dig_3, dig_4, dig_5]
max_dig = max(digitsline)
min_dig = min(digitsline)
print ('Наименьшее число =', min_dig)
print ('Наибольшее число =', max_dig)

Введите целое число #1
1
Введите целое число #2
2
Введите целое число #3
3
Введите целое число #4
4
Введите целое число #5
5
Наименьшее число = 1
Наибольшее число = 5

**Задание 16**

In [ ]:
name = str(input('Введите имя пользователя:'))
surname = str(input('Введите фамилию пользователя:'))
s = str('!')
print ('Привет,',name+' '+surname+s,'Вы только что начали изучать Python')

Введите имя пользователя:Антон
Введите фамилию пользователя:Иванов
Привет, Антон Иванов! Вы только что начали изучать Python

**Задание 17**

In [ ]:
fh_ph = str(input('Введите первую половину фразы:'))
sh_ph = str(input('Введите вторую половину фразы:'))
b = str('"')
s = str(', ')
d = str('.')
print (b+fh_ph+s+sh_ph+d+b)

Введите первую половину фразы:Каждый в этой стране должен научиться программировать
Введите вторую половину фразы:потому что это учит думать
"Каждый в этой стране должен научиться программировать, потому что это учит думать."

**Задание 18**

In [ ]:
inp = float(input('Введите сумму покупки в рублях:'))
print (inp>1000)

Введите сумму покупки в рублях:999
False

**Задание 19**

In [ ]:
age = int(input('Введите возраст полных лет:'))
print (age>=18)

Введите возраст полных лет:16
False

**Задание 20**

In [ ]:
s = float(input('Введите объем данных между потоками (МБ):'))
v_1 = float(input('Введите скорость первого потока (МБ/ч):'))
v_2 = float(input('Введите скорость второго потока (МБ/ч):'))
t = s/(v_1+v_2)
print (f'Потоки достигнут одного и того же объёма данных через {t} часов')

Введите объем данных между потоками (МБ):500
Введите скорость первого потока (МБ/ч):50
Введите скорость второго потока (МБ/ч):70
Потоки достигнут одного и того же объёма данных через 4.166666666666667 часов

**Задание 21**

In [ ]:
a = float(input('Введите длину первого катета (мм):'))
b = float(input('Введите длину второго катета (мм):'))
s = (a*b)/2
print (f'Площадь треугольника = {s} мм')

Введите длину первого катета (мм):443
Введите длину второго катета (мм):390
Площадь треугольника = 86385.0 мм

**Задание 22**

In [ ]:
t_f = float(input('Введите температуру в градусах по шкале Фаренгейта: '))
t_c = 5/9*(t_f-32)
print (f'Температура в градусах по шкале Цельсия = {t_c}')

Введите температуру в градусах по шкале Фаренгейта:450.55
Температура в градусах по шкале Цельсия = 232.5277777777778

**Задание 23**

In [ ]:
revenue_str = float(input('Введите выручку за день: '))
revenue_str = revenue_str//1
courier_name = str(input('Введите имя курьера: '))
report = int(revenue_str*0.01//1) # //1 на случай изменния процена и возможности появления дробной части
print (f'Курьер {courier_name} получит бонус {report} р.')

Введите выручку за день:438746.78
Введите имя курьера:Антон
Курьер Антон получит бонус 4387 р.

##**Практическое занятие № 2 от 05.11.2025**

**Задание 1**

In [ ]:
pass1 = input('Введите пароль: ')
pass2 = input('Введите пароль еще раз: ')
if pass1 == 'qwerty' and pass2 == 'qwerty':
    print ('Пароль принят')
else:
    print ('Пароль не принят')

Введите пароль: qwerty
Введите пароль еще раз: Qwerty
Пароль не принят

**Задание 2**

In [ ]:
uage = int(input('Введите возраст пользователя (полных лет): '))
if uage  >= 18:
    print ('Доступ разрешен')
else:
    print ('Доступ запрещен')

Введите возраст пользователя (полных лет): 18
Доступ разрешен

**Задание 3**

In [ ]:
int1 = int(input('Введите целое число #1: '))
int2 = int(input('Введите целое число #2: '))
if int1 > int2:
    print (f'Наименьшее число = {int2}')
elif int1 < int2:
    print (f'Наименьшее число = {int1}')
elif int1 == int2:
    print ('Числа равны')

Введите целое число #1: 8
Введите целое число #2: 11
Наименьшее число = 8

**Задание 4**

In [ ]:
int1 = int(input('Введите целое число #1: '))
int2 = int(input('Введите целое число #2: '))
int3 = int(input('Введите целое число #3: '))
if int2 == (int1 + int3)/2:
    print ('ДА, арифметическая прогрессия')
else:
    print ('НЕТ, арифметической прогрессии не выявлено')

Введите целое число #1: 1
Введите целое число #2: 2
Введите целое число #3: 3
ДА, арифметическая прогрессия

**Задание 5**

In [ ]:
int1 = int(input('Введите целое число #1: '))
int2 = int(input('Введите целое число #2: '))
int3 = int(input('Введите целое число #3: '))
tot = 0
if int1 > 0 :
    tot += int1
if int2 > 0:
    tot += int2
if int3 > 0:
    tot += int3
print (f'сумма положительных чисел равна: {tot}')

Введите целое число #1: 5
Введите целое число #2: 4
Введите целое число #3: 3
сумма положительных чисел равна: 12

**Задание 6**

In [ ]:
int1 = int(input('Введите целое число #1: '))
int2 = int(input('Введите целое число #2: '))
int3 = int(input('Введите целое число #3: '))
int4 = int(input('Введите целое число #4: '))
mini = int1
if int2 <= mini:
    mini = int2
if int3 <= mini:
    mini = int3
if int4 <= mini:
    mini = int4
print (f'Минимальное введенное число: {mini}')

Введите целое число #1: 5
Введите целое число #2: 4
Введите целое число #3: 8
Введите целое число #4: 1
Минимальное введенное число: 1

**Задание 7**

In [ ]:
yr = int(input('Введите год (натуральное число): '))
if (yr %4 == 0 and yr %100 != 0) or  (yr %400 == 0):
    print ('Да, этот год високосный')
else:
    print ('Нет, этот год не високосный')

Введите год (натуральное число): 2020
Да, этот год високосный

**Задание 8**

In [ ]:
int1 = int(input('Введите целое число #1: '))
int2 = int(input('Введите целое число #2: '))
int3 = int(input('Введите целое число #3: '))
if (int1 <= int2 <= int3) or (int3 <= int2 <= int1):
    print (f'Cерединное значение из введенных чисел: {int2}')
elif (int2 <= int1 <= int3) or (int3 <= int1 <= int2):
    print (f'Cерединное значение из введенных чисел: {int1}')
else:
    print (f'Cерединное значение из введенных чисел: {int3}')

Введите целое число #1: 1
Введите целое число #2: 2
Введите целое число #3: 3
Cерединное значение из введенных чисел: 2

**Задание 9**

In [ ]:
for i in range (10):
    print ('Войти в IT с Python')

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

**Задание 10**

In [ ]:
n = int(input('Введите натуральное число от 1 до 20: '))
while n < 1 or n > 20:
    n = int(input('Число должно быть от 1 до 20. Попробуйте снова: '))
for i in range (n):
    print ('*' * 19)

Введите натуральное число от 1 до 20: 21
Число должно быть от 1 до 20. Попробуйте снова: 0
Число должно быть от 1 до 20. Попробуйте снова: 4
*******************
*******************
*******************
*******************

**Задание 11**

In [ ]:
phrz = input ('Введите слово: ')
for i in range (10):
    print (i, phrz)

Введите слово: epoche
0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

**Задание 12**

In [ ]:
n = int(input('Введите натуральное число от 1 до 100: '))
while n < 1 or n > 100:
    n = int(input('Число должно быть от 1 до 100. Попробуйте снова: '))
if n >= 1:
    a, b = 1, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

Введите натуральное число от 1 до 100: 7
1 1 2 3 5 8 13

**Задание 13**

In [ ]:
n = int(input('Введите натуральное число: '))
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print (factorial)

Введите натуральное число: 8
40320

**Задание 14**

In [ ]:
wd = input('Введите слово: ')
print (wd.lower())
while wd.lower() != 'стоп':
    wd = input('Введите слово: ')
    print (wd.lower())

Введите слово: Первый
первый
Введите слово: ВТОРОЙ
второй
Введите слово: СТоп
стоп

**Задание 15**

In [ ]:
num = int(input('Введите целое число: '))
tot = 0
while num >= 0:
      tot += num
      num = int(input('Введите целое число: '))
print (f'Сумма введенных чисел равна: {tot}')

Введите целое число: 5
Введите целое число: 5
Введите целое число: -5
Сумма введенных чисел равна: 10

**Задание 16**

In [ ]:
def draw_triangle():
    print ('*','*' * 2,'*' * 3,'*' * 4,'*' * 5,'*' * 6,'*' * 7,sep='\n')
draw_triangle ()

*
**
***
****
*****
******
*******

**Задание 17**

In [15]:
name = input('Введите имя: ')
surname = input('Введите фамилию: ')
patronymic = input('Введите отчество: ')
def print_fio(name, surname, patronymic):
    fio = surname[0].upper() + name[0].upper() + patronymic[0].upper()
    print(fio)
print_fio(name, surname, patronymic)

Введите имя: Алексей
Введите фамилию: Иванов
Введите отчество: Петрович
ИАП

**Задание 18**

In [104]:
def sos_until_zero():
    tot = 0
    sqtot = 0
    num = int(input('Введите целое число: '))
    tot += num
    sqtot += num ** 2
    while tot != 0:
        num = int(input('Введите целое число: '))
        tot += num
        sqtot += num ** 2
    return sqtot
sos_until_zero()

Введите целое число: 2
Введите целое число: 2
Введите целое число: -4

24

**Звдание 19**

In [11]:
def convert_to_miles(km):
    mi = round ((km * 0.6214), 3)
    return mi
km = float(input('Введите расстояние в киллометрах: '))
print (f'Расстояние в милях = {convert_to_miles(km)}')

Введите расстояние в киллометрах: 10
Расстояние в милях = 6.214

##**Практическое занятие № 3 от 05.11.2025**

**Задание 1**

In [ ]:
num = int(input('Введите натуральное число: '))
while num < 1 :
    num = int(input('Введенное число не является натуральным. Попробуйте снова: '))
ls = list (range (num+1))
print (ls)

Введите натуральное число: 5
[0, 1, 2, 3, 4, 5]

**Задание 2**

In [ ]:
user_ids = []
for i in range (5):
    user_ids.append(int (input ('Введите ID пользователя: ')))
total_users = len(user_ids)
min_max_ids = min(user_ids), max(user_ids)
ID_second_user = user_ids[1]
last_user = user_ids[-1]
print (f' Количество пользователей: {total_users}\n Минимальный и максимальный ID пользователей: {min_max_ids}')
print (f' Второй по списку ID пользователя: {ID_second_user}\n Последний по списку ID пользователя: {last_user}')

Введите ID пользователя: 104
Введите ID пользователя: 217
Введите ID пользователя: 86
Введите ID пользователя: 395
Введите ID пользователя: 132
 Количество пользователей: 5
 Минимальный и максимальный ID пользователей: (86, 395)
 Второй по списку ID пользователя: 217
 Последний по списку ID пользователя: 132

**Задание 3**

In [ ]:
moscow_orders = [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]
total_moscow = sum(moscow_orders)
total_spb = sum(spb_orders)
all_orders = moscow_orders + spb_orders
all_orders.sort()
all_orders_desc = all_orders[::-1]
max_single_day = all_orders_desc[0]
average_moscow = round (sum(moscow_orders) / len(moscow_orders))
had_zero_moscow = 0 in moscow_orders
print (f'Общее количество заказов в Москве: {total_moscow}')
print (f'Общее количество заказов в Санкт-Петербурге: {total_spb}')
print (f'Cписок всех заказов по двум городам (по убыванию): \n {all_orders_desc}')
print (f'Cреднее количество заказов в Москве: {average_moscow}')
print (f'Был ли день без заказов в Москве (True или False): {had_zero_moscow}')

Общее количество заказов в Москве: 934
Общее количество заказов в Санкт-Петербурге: 920
Cписок всех заказов по двум городам (по убыванию):
 [395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
Cреднее количество заказов в Москве: 187
Был ли день без заказов в Москве (True или False): False

**Задание 4**

In [ ]:
events = ["Поиск", "Настройки", "Профиль"]
important_sections = ["Главная", "Каталог"]
events.insert(0, important_sections[0])
events.append(important_sections[1])
events.remove('Профиль')
print (events)

['Главная', 'Поиск', 'Настройки', 'Каталог']

**Задание 5**

In [ ]:
ratings = [5, 4, 3, 5, 5, 2, 4, 5]
count_fives = ratings.count(5)
share_of_fives = round (count_fives / len(ratings), 2)
print (f'Количество оценок "5": {count_fives}\nДоля оценок "5": {share_of_fives}')

Количество оценок "5": 4
Доля оценок "5": 0.5

**Задание 6**

In [105]:
session_durations = [15, 40, 1, 25, 5]
shortest_session = min(session_durations)
session_durations.remove(shortest_session)
session_durations.sort()
session_durations.insert(0, 0)
session_durations.append(max(session_durations)+10)
is_long_session = len(session_durations) >5
print (f'Самая короткая сессия: {shortest_session}')
print (f'Обновлённый список: {session_durations}')
print (f'Длинная ли сессия?: {is_long_session}')

Самая короткая сессия: 1
Обновлённый список: [0, 5, 15, 25, 40, 50]
Длинная ли сессия?: True

**Задание 7**

In [108]:
n = int(input('Введите натуральное число: '))
while n < 1 :
    n = int(input('Введенное число не является натуральным. Попробуйте снова: '))
cub = []
for i in range(n):
    num = int(input('Введите целое число: '))
    cub.append(num ** 3)
print(f'Список кубов введенных чисел: {cub}')

Введите натуральное число: 5
Введите целое число: 1
Введите целое число: 2
Введите целое число: 3
Введите целое число: 4
Введите целое число: 5
Список кубов введенных чисел: [1, 8, 27, 64, 125]

**Задание 8**

In [109]:
numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)
mimasum = min(numbers) + max(numbers)
print (mimasum)

4.3025

**Задание 9**

In [112]:
empl_t = ('Иванов Иван', 1985, 'Санкт-Петербург')
empl_l = list (empl_t)
empl_l[2] = 'Москва'
empl_t = tuple (empl_l)
print (empl_t)

('Иванов Иван', 1985, 'Москва')

**Задание 10**

In [113]:
courier = {}
courier['name'] = 'Иван'
courier['delivered_orders'] = '125'
courier['is_active'] = 'True'
print (courier)

{'name': 'Иван', 'delivered_orders': '125', 'is_active': 'True'}

**Задание 11**

In [ ]:
products = {
'стол': 'мебель',
'диван': 'мебель',
'лампа': 'дом',
'холодильник': 'техника'
}

##**Практическое занятие № 4 от 06.11.2025**

**Задание 1**

In [16]:
import pandas as pd
import numpy as np

data = {
    'сотрудник': ['Алина', 'Борис', 'Владимир', 'Дарья', 'Егор', 'Федор',
'Галина', 'Наталья', 'Игорь', 'Юлия'],
    'отдел': ['Аналитика', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг',
'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика'],
    'проект_баллы': [85, 92, 78, np.nan, 88, 75, 95, np.nan, 82, 90],
    'выполнено_задач': [5, 7, 6, 7, 5, 6, 8, 4, 5, 7],
    'пройдено_тест': ['да', 'да', 'нет', 'да', 'да', 'нет', 'да', 'нет', 'да',
    'да']
}

labels = ['с1','с2','с3','с4','с5','с6','с7','с8','с9','с10']

df_sotrudniki = pd.DataFrame(data, index=labels)
df_sotrudniki

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          75.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

**Задание 3**

In [18]:
print (df_sotrudniki.head(3))

   сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1     Алина  Аналитика          85.0                5            да
с2     Борис  Аналитика          92.0                7            да
с3  Владимир  Маркетинг          78.0                6           нет

**Задание 4**

In [28]:
print (df_sotrudniki.loc[['с4','с5','с9'], ['сотрудник','проект_баллы']])

   сотрудник  проект_баллы
с4     Дарья           NaN
с5      Егор          88.0
с9     Игорь          82.0

**Задание 5**

In [29]:
print (df_sotrudniki[df_sotrudniki['выполнено_задач'] > 6])

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с2      Борис  Аналитика          92.0                7            да
с4      Дарья  Аналитика           NaN                7            да
с7     Галина  Маркетинг          95.0                8            да
с10      Юлия  Аналитика          90.0                7            да

**Задание 6**

In [30]:
df_sotrudniki.loc[['с6'], ['проект_баллы']] = 80
print (df_sotrudniki)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

**Задание 7**

In [39]:
print (df_sotrudniki[['выполнено_задач']].sum())

выполнено_задач    60
dtype: int64

**Задание 8**

In [32]:
aver_rate = df_sotrudniki.groupby('отдел')['проект_баллы'].mean()
print (aver_rate)

отдел
Аналитика    86.75
Маркетинг    85.75
Name: проект_баллы, dtype: float64

**Задание 9**

In [33]:
sorted = df_sotrudniki.sort_values(by=['проект_баллы', 'выполнено_задач'], ascending=[False, True])
print (sorted)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с7     Галина  Маркетинг          95.0                8            да
с2      Борис  Аналитика          92.0                7            да
с10      Юлия  Аналитика          90.0                7            да
с5       Егор  Маркетинг          88.0                5            да
с1      Алина  Аналитика          85.0                5            да
с9      Игорь  Маркетинг          82.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с3   Владимир  Маркетинг          78.0                6           нет
с8    Наталья  Аналитика           NaN                4           нет
с4      Дарья  Аналитика           NaN                7            да

**Задание 10**

In [40]:
df_sotrudniki['пройдено_тест'] = df_sotrudniki['пройдено_тест'].replace({'да': True, 'нет': False})
print (df_sotrudniki)

    сотрудник      отдел  проект_баллы  выполнено_задач  пройдено_тест
с1      Алина  Аналитика          85.0                5           True
с2      Борис  Аналитика          92.0                7           True
с3   Владимир  Маркетинг          78.0                6          False
с4      Дарья  Аналитика           NaN                7           True
с5       Егор  Маркетинг          88.0                5           True
с6      Федор  Аналитика          80.0                6          False
с7     Галина  Маркетинг          95.0                8           True
с8    Наталья  Аналитика           NaN                4          False
с9      Игорь  Маркетинг          82.0                5           True
с10      Юлия  Аналитика          90.0                7           True

**Задание 11**

In [44]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
california = fetch_california_housing()
df_california = pd.DataFrame(california.data, columns=california.feature_names)
print (df_california.head(5))

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24
3    -122.25
4    -122.25

**Задание 12**

In [64]:
df_california_t = pd.DataFrame(california.target, columns=california.target_names)
df_california_u = pd.concat([df_california, df_california_t], axis = 1)
print (df_california_u.head(5))

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  MedHouseVal
0    -122.23        4.526
1    -122.22        3.585
2    -122.24        3.521
3    -122.25        3.413
4    -122.25        3.422

**Задание 13**

In [65]:
df_california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

**Задание 14**

In [68]:
print (df_california.isna().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

**Задание 15**

In [79]:
condition = (df_california['HouseAge'] > 50) & (df_california['Population'] > 2500)
print(df_california[condition])

       MedInc  HouseAge  AveRooms  AveBedrms  Population    AveOccup  \
460    1.4012      52.0  3.105714   1.060000      3337.0    9.534286
4131   3.5349      52.0  4.646119   1.047945      2589.0    5.910959
4440   2.6806      52.0  4.806283   1.057592      3062.0    4.007853
5986   1.8750      52.0  4.500000   1.206349      2688.0   21.333333
7369   3.1901      52.0  4.730942   1.017937      3731.0    4.182735
8227   2.3305      52.0  3.488860   1.170380      3018.0    3.955439
13034  6.1359      52.0  8.275862   1.517241      6675.0  230.172414
15634  1.8295      52.0  2.628169   1.053521      2957.0    4.164789
15652  0.9000      52.0  2.237474   1.053535      3260.0    2.237474
15657  2.5166      52.0  2.839075   1.184049      3436.0    1.621520
15659  1.7240      52.0  2.278566   1.082348      4518.0    1.780142
15795  2.5755      52.0  3.402576   1.058776      2619.0    2.108696
15868  2.8135      52.0  4.584329   1.041169      2987.0    3.966799

       Latitude  Longitude
460       37.87    -122.26
4131      34.13    -118.20
4440      34.08    -118.21
5986      34.10    -117.71
7369      33.97    -118.21
8227      33.78    -118.20
13034     38.69    -121.15
15634     37.80    -122.41
15652     37.80    -122.41
15657     37.79    -122.41
15659     37.79    -122.41
15795     37.77    -122.42
15868     37.76    -122.41

**Задание 16**

In [83]:
max_value = df_california_u['MedHouseVal'].max()
min_value = df_california_u['MedHouseVal'].min()
print (f'Максимальная медианная стоимость дома: {max_value}')
print (f'Минимальная медианная стоимость дома: {min_value}')

Максимальная медианная стоимость дома: 5.00001
Минимальная медианная стоимость дома: 0.14999