<a href="https://colab.research.google.com/github/AKN-GH/Git-Projects/blob/main/Practics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Практическое занятие № 1 от 31.10.2025**

Задание 1

In [ ]:
print ('Hello World')

Hello World

Задание 2

In [ ]:
print ('4','8','15','16','23','42' )

4 8 15 16 23 42

Задание 3

In [ ]:
print ('*','**','***','****','*****','******','*******',sep='\n')

*
**
***
****
*****
******
*******

Задание
 4

In [ ]:
print ('Отчёт о доходах:', '1 квартал: 1200000 руб.','2 квартал: 1350000 руб.','3 квартал: 1280000 руб.','4 квартал: 1420000 руб.', sep='\n')

Отчёт о доходах:
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

Задание 5

In [ ]:
analytics_name = input('Введите имя аналитика:')
print (f'Добро пожаловать в команду, {analytics_name}!')

Введите имя аналитика:Влад
Добро пожаловать в команду, Влад!

Задание 6

In [ ]:
company_name = input ('Введите название компании:')
print (f'{company_name} - лидер рынка!' )

Введите название компании:Сбер
Сбер - лидер рынка!

Задание 7

In [ ]:
dataset_name = input('Введите название набора данных:')
raw_count = input('Введите количество строк:')
number_of_colums = input('Введите число столбцов:')
print (dataset_name, raw_count, number_of_colums, sep='\n')

Введите название набора данных:Sales Q1
Введите количество строк:1000
Введите число столбцов:8
Sales Q1
1000
8

Задание 8

In [ ]:
list_1 = input()
list_2 = input()
list_3 = input()
print (list_3, list_2, list_1, sep='\n')

Продажи за январь
Продажи за февраль
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

Задание 9

In [ ]:
base_price = float(input('Введите базовую цену:'))
grows_percent = float(input('Введите процент прироста цены:'))
new_price = base_price*(1+grows_percent/100)
delta = new_price-base_price
print ('new_price =',new_price)
print ('delta =',delta)

Введите базовую цену:100
Введите процент прироста цены:20
new_price = 120.0
delta = 20.0

Задание 10

In [ ]:
print ('Северный', 'Центральный', 'Южный', sep='***')

Северный***Центральный***Южный

 Задание 11

In [ ]:
analytics_name = input('Введите имя аналитика:')
print ("Подключение установлено. Добро пожаловать,", analytics_name, end='!')

Введите имя аналитика:Влад
Подключение установлено. Добро пожаловать, Влад!

Задание 12

In [ ]:
symbol_s = input('Введите разделитель символ-разделитель:')
product_1 = input('Введите название Товара 1:')
product_2 = input('Введите название Товара 2:')
product_3 = input('Введите название Товара 3:')
print (product_1, end=symbol_s)
print (product_2, end=symbol_s)
print (product_3, end=symbol_s)

Введите разделитель символ-разделитель:|
Введите название Товара 1:Молоко
Введите название Товара 2:Хлеб
Введите название Товара 3:Сыр
Молоко|Хлеб|Сыр|

Задание 13

In [ ]:
value_str = float(input('Введите значение:'))
value_str = int(value_str)
print (f'integer_part = {value_str}')

Введите значение:42.7
integer_part = 42

Задание 14

In [ ]:
orders_yesterday = int(input('Введите количество заказов предыдущего дня:'))
plan = int(input('Введите плановый показатель:'))
abs_diff = abs(orders_yesterday-plan)
print (f'Абсолютное отклонение от плана равняется {abs_diff}')

Введите количество заказов предыдущего дня:10
Введите плановый показатель:20
Абсолютное отклонение от плана равняется 10

Задание 15

In [ ]:
dig_1 = int(input('Введите целое число #1:'))
dig_2 = int(input('Введите целое число #2:'))
dig_3 = int(input('Введите целое число #3:'))
dig_4 = int(input('Введите целое число #4:'))
dig_5 = int(input('Введите целое число #5:'))
digitsline = [dig_1, dig_2, dig_3, dig_4, dig_5]
max_dig = max(digitsline)
min_dig = min(digitsline)
print ('Наименьшее число =', min_dig)
print ('Наибольшее число =', max_dig)

Введите целое число #1
1
Введите целое число #2
2
Введите целое число #3
3
Введите целое число #4
4
Введите целое число #5
5
Наименьшее число = 1
Наибольшее число = 5

Задание 16

In [ ]:
name = str(input('Введите имя пользователя:'))
surname = str(input('Введите фамилию пользователя:'))
s = str('!')
print ('Привет,',name+' '+surname+s,'Вы только что начали изучать Python')

Введите имя пользователя:Антон
Введите фамилию пользователя:Иванов
Привет, Антон Иванов! Вы только что начали изучать Python

Задание 17

In [ ]:
fh_ph = str(input('Введите первую половину фразы:'))
sh_ph = str(input('Введите вторую половину фразы:'))
b = str('"')
s = str(', ')
d = str('.')
print (b+fh_ph+s+sh_ph+d+b)

Введите первую половину фразы:Каждый в этой стране должен научиться программировать
Введите вторую половину фразы:потому что это учит думать
"Каждый в этой стране должен научиться программировать, потому что это учит думать."

Задание 18

In [ ]:
inp = float(input('Введите сумму покупки в рублях:'))
print (inp>1000)

Введите сумму покупки в рублях:999
False

Задание 19

In [ ]:
age = int(input('Введите возраст полных лет:'))
print (age>=18)

Введите возраст полных лет:16
False

Задание 20

In [ ]:
s = float(input('Введите объем данных между потоками (МБ):'))
v_1 = float(input('Введите скорость первого потока (МБ/ч):'))
v_2 = float(input('Введите скорость второго потока (МБ/ч):'))
t = s/(v_1+v_2)
print (f'Потоки достигнут одного и того же объёма данных через {t} часов')

Введите объем данных между потоками (МБ):500
Введите скорость первого потока (МБ/ч):50
Введите скорость второго потока (МБ/ч):70
Потоки достигнут одного и того же объёма данных через 4.166666666666667 часов

Задание 21

In [ ]:
a = float(input('Введите длину первого катета (мм):'))
b = float(input('Введите длину второго катета (мм):'))
s = (a*b)/2
print (f'Площадь треугольника = {s} мм')

Введите длину первого катета (мм):443
Введите длину второго катета (мм):390
Площадь треугольника = 86385.0 мм

Задание 22

In [ ]:
t_f = float(input('Введите температуру в градусах по шкале Фаренгейта:'))
t_c = 5/9*(t_f-32)
print (f'Температура в градусах по шкале Цельсия = {t_c}')

Введите температуру в градусах по шкале Фаренгейта:450.55
Температура в градусах по шкале Цельсия = 232.5277777777778

Задание 23

In [ ]:
revenue_str = float(input('Введите выручку за день:'))
revenue_str = revenue_str//1
courier_name = str(input('Введите имя курьера:'))
report = int(revenue_str*0.01//1) # //1 на случай изменния процена и возможности появления дробной части
print (f'Курьер {courier_name} получит бонус {report} р.')

Введите выручку за день:438746.78
Введите имя курьера:Антон
Курьер Антон получит бонус 4387 р.

**Практическое занятие № 2 от 05.11.2025**

Задание 1

In [13]:
pass1 = input('Введите пароль:')
pass2 = input('Введите пароль еще раз:')
if pass1 == 'qwerty' and pass2 == 'qwerty':
    print ('Пароль принят')
else:
    print ('Пароль не принят')

Введите пароль:qwerty
Введите пароль еще раз:Qwerty
Пароль не принят

Задание 2

In [17]:
uage = int(input('Введите возраст пользователя:'))
if uage  >= 18:
    print ('Доступ разрешен')
else:
    print ('Доступ запрещен')

Введите возраст пользователя:18
Доступ разрешен

Задание 3